<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Minerals</title>
    <link rel="stylesheet" href="styles.css">

    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

</head>

<body>

    <div style="background-color:#ecf0f9;">
        <div class="head">
            <img href="index.html" src="images/SharedScreenshot-Photoroom.png" alt="Mad Minerals" class="logoimg">
            <a href="index.html" class="logoName">Mad Minerals</a>

            <div class="headimage"></div>

            <nav class="navText">
                <a href="index.html" class="navHref">Главная</a>
                <a href="catakog.html" class="navHref">Каталог</a>
                <a href="about.html" class="navHref">О нас</a>
            </nav>
        </div>
    </div>

    <main>

        <div class="razdel">
            <h1 style=" font-weight: 400; font-size: 5rem;">О нас</h1>
        </div>
        <div style="margin-left: 30%; margin-right: 30%; width: 680px;">
            <p class="text">
                Вы думали, мы любим камни? <b>Ошибочка</b> вышла! Мы их терпеть не можем, и именно поэтому мы занимаемся
                их продажей.
                Мы с упорством сороки <b>воруем</b> всё, что блестит, чтобы перепродать втридорога.
                Ведь что может быть лучше, чем избавляться от ненавистных минералов, обменивая их на ваши <b>деньги</b>?
                Мы откапываем, крушим, тащим, чистим и подаём минералы с любовью.
                Наш ассортимент включает всё: от кусочков древней лавы, которые видели динозавров, до таких камней,
                что их даже гравитация с трудом удерживает. Если вы вдруг коллекционер или просто хотите украсить полку,
                то мы готовы с вами поделиться нашими <b>ненавистными</b> находками.
                Но учтите, если вам покажется, что цены завышены – <b>это так</b>. Это просто эксклюзивность,
                уникальность и то, что нам хочется заработать.
            </p>
            <p class="text">Обязательно прочитайте <a href="review.html" class="CardButton">ОТЗЫВЫ</a> наших недовольных клиентов (Мы ими гордимся)</p>
        </div>

        <div class="razdel">
            <h1 style=" font-weight: 400; font-size: 5rem;">Как нас НЕ найти</h1>
        </div>
        <div style="margin-left: 30%; margin-right: 30%; width: 680px;">
            <p class="text">
                Мы усиленно <b>скрываемся</b> от общественного внимания, но если уж сильно настаиваете, то вот наш контакт:
            </p>
        </div>

        <div style="margin-left: 20%; margin-right: 0%;">
                <p class="text" style="text-align: left;"><b>Телефон:</b> 8 800 555 35 35 (только если хотите подать в суд)</p>
                <p class="text" style="text-align: left;"><b>Email:</b> dontwrite@madminerals.com (мы не ответим, но нам приятно, что вы пытались)</p>
                <p class="text" style="text-align: left;"><b>Адрес:</b> Не скажем. Всё, что вы найдёте, – это гора камней.</p>
                <p class="text" style="text-align: left;"><b>Mad Minerals</b>  – мы не просто продаём камни. Мы избавляемся от них с радостью!</p>
        </div>



    </main>

    <footer style="background-color:#596072; margin-top: 10%;">
        <div class="footer">
            <img href="index.html" src="images/SharedScreenshot-Photoroom.png" alt="Mad Minerals" class="logoimg">
            <a href="index.html" class="logoName" style="color: rgb(238, 230, 230);">Mad Minerals</a>
            <p class="footerText">
                Мы ценим ваше личное пространство, поэтому усиленно
                просим <b>отказаться</b> от обратной связи.
                Однако, если вы вдруг решите, что пора подать на нас в <b>суд</b>,
                вот наш телефон: 8 800 555 35 35.
            </p>
        </div>
    </footer>

</body>

</html>