<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Minerals</title>
    <link rel="stylesheet" href="../static/styles.css">

    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

</head>

<body>

    <div style="background-color:#ecf0f9;">
        <div class="head">
            <img href="index.html" src="../static/images/SharedScreenshot-Photoroom.png" alt="Mad Minerals" class="logoimg">
            <a href="index.html" class="logoName">Mad Minerals</a>

            <div class="headimage"></div>

            <nav class="navText">
                <a href="index.html" class="navHref">Главная</a>
                <a href="catakog" class="navHref">Каталог</a>
                <a href="about.html" class="navHref">О нас</a>
            </nav>
        </div>
    </div>

    <main>
        <h1 class="ha1">Mad Minerals</h1>
        <div style="margin-left: 20%; margin-right: 20%;">
            <p class="text">
                Добро пожаловать в <b>Mad Minerals</b> — ваш источник самых безумных камней и минералов!
                Наши камни настолько уникальны, что даже геологи теряются в <b>догадках</b>.
                От серых до коричневых и всех оттенков между ними — у нас есть всё,
                что нужно для вашего коллекционирования или просто для украшения полки.
                Наши минералы такие <b>вкусные</b>, что вы захотите добавить их в свой утренний <b>кофе</b> с пенкой
                (но, пожалуйста, <b>не ешьте их!</b>). С <b>Mad Minerals</b> вы получите больше цветов, чем у
                конкурентов,
                и, возможно, даже больше, чем в радуге.
            </p>
        </div>
        <div class="razdel">
            <h1 style=" font-weight: 400; font-size: 5rem;">Что мы предлагаем</h1>
        </div>

        <div class="body">
            <div class="card">
                <div class="PhotoConteiner">
                    <img class="mainPhoto" src="../static/images/stone3.png" alt="stone3.png" />
                </div>
                <div style="text-align: center; padding-left: 20%;">
                    <h2>Просто⠀камни</h2>
                    <p class="CardText">Камни серые ​коричневые и прочие но все <b>вкусные</b>.</p>
                    <a class="CardButton" href="catakog.html">КАТАЛОГ</a>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="card">
                <div style="text-align: center; padding-right: 20%;">
                    <h2>Минералы</h2>
                    <p class="CardText">Из центра земли для вашего <b>кофе</b> с пенкой. Цветов больше чем у
                        конкурентов.</p>
                    <a class="CardButton" href="catakog.html">КАТАЛОГ</a>
                </div>
                <div class="PhotoConteiner">
                    <img class="mainPhoto" src="../static/images/stone7.jpg" alt="stone7.jpg" />
                </div>
            </div>
        </div>
        <div class="body">
            <div class="card">
                <div class="PhotoConteiner">
                    <img class="mainPhoto" src="../static/images/3F3F3F3F.webp" alt="3F3F3F3F.webp" />
                </div>
                <div style="text-align: center; padding-left: 20%;">
                    <h2>Сыпучие</h2>
                    <p class="CardText">Не хватает муки дома? Её можно легко заменить песчаником или песком. Ничто не
                        бывает лучше чем этот <b>скрип</b> на зубах.</p>
                    <a class="CardButton" href="catakog.html">КАТАЛОГ</a>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="card">
                <div style="text-align: center; padding-right: 20%;">
                    <h2>Ржавчина</h2>
                    <p class="CardText">Некоторые наши клиенты очень рады, что недавно у нас появились ржавые болты. Они
                        не заменимы для <b>яблочных</b> пирогов.</p>
                    <a class="CardButton" href="catakog.html">КАТАЛОГ</a>
                </div>
                <div class="PhotoConteiner">
                    <img class="mainPhoto"
                        src="../static/images/pngtree-rusty-nut-and-bolt-work-build-rust-photo-image_7378730.jpg"
                        alt="pngtree-rusty-nut-and-bolt-work-build-rust-photo-image_7378730.jpg" />
                </div>
            </div>
        </div>

    </main>

    <footer style="background-color:#596072; margin-top: 10%;">
        <div class="footer">
            <img href="index.html" src="../static/images/SharedScreenshot-Photoroom.png" alt="Mad Minerals" class="logoimg">
            <a href="index.html" class="logoName" style="color: rgb(238, 230, 230);">Mad Minerals</a>
            <p class="footerText">
                Мы ценим ваше личное пространство, поэтому усиленно
                просим <b>отказаться</b> от обратной связи.
                Однако, если вы вдруг решите, что пора подать на нас в <b>суд</b>,
                вот наш телефон: 8 800 555 35 35.
            </p>
        </div>
    </footer>

</body>

</html>